<!-- <div class="container-fluid justify-content-center"> -->

    <div class="container-fluid justify-content-center"><a class="social mx-1"  href="mailto:shantanu100.sharma@gmail.com"
        style="color: #6c757d"
        onMouseOver="this.style.color='#db4437'"
        onMouseOut="this.style.color='#6c757d'">
       <i class="fas fa-envelope fa-1x"></i>
     </a><a class="social mx-1"  href="https://github.com/Avenger-py"
        style="color: #6c757d"
        onMouseOver="this.style.color='#333333'"
        onMouseOut="this.style.color='#6c757d'">
       <i class="fab fa-github fa-1x"></i>
     </a><a class="social mx-1"  href="https://www.linkedin.com/in/shantanusharma1412/"
        style="color: #6c757d"
        onMouseOver="this.style.color='#007bb5'"
        onMouseOut="this.style.color='#6c757d'">
       <i class="fab fa-linkedin-in fa-1x"></i>
     </a>
  
<!-- </div> -->